In [75]:
import freq_table
import environment_check
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

%matplotlib inline
%load_ext autoreload
%autoreload 2

# Summary
1. Variable of interest, 'ProcedureCategoryName', 'ProcedureName', 'ProcedureCode', 'ServiceDate'. 
2. No missing value found.
3. Too many (~7900) categories for 'ProcedureName', 'ProcedureCode'.

In [63]:
environment_check.check_env()

In [64]:
file_path = "//data/dept/SOM/ACCORDS/PiFolders/PI_Colborn/UCHealthSOR/Data/C2730_20240628/C2730_Table10_CUMedicineProcedure_20240223.csv"

In [65]:
# drop columns
drop = ["arb_person_id", "arb_encounter_id"]

In [66]:
# load file with dask pockage
df = freq_table.load_csv_dask(file_path, drop)
df.shape

(7611644, 4)

In [67]:
# Check missing value
df.isnull().sum()

ProcedureCategoryName    0
ProcedureName            0
ProcedureCode            0
ServiceDate              0
dtype: int64

In [68]:
# transfer datetime
df['ServiceDate'] = pd.to_datetime(df['ServiceDate'], format='%Y-%m-%d')

In [69]:
# List of columns to convert to string
columns_to_convert = ['ProcedureCategoryName', 'ProcedureName', 'ProcedureCode']

# Convert the specified columns to string
for column in columns_to_convert:
    df[column] = df[column].astype("string")

In [70]:
df.head(5)

  ProcedureCategoryName                ProcedureName ProcedureCode ServiceDate
0                  PQRS  INITIAL PRENATAL CARE VISIT         0500F  2023-03-31
1                  PQRS  INITIAL PRENATAL CARE VISIT         0500F  2023-01-23
2                  PQRS  INITIAL PRENATAL CARE VISIT         0500F  2022-11-30
3                  PQRS  INITIAL PRENATAL CARE VISIT         0500F  2023-07-20
4                  PQRS  INITIAL PRENATAL CARE VISIT         0500F  2023-02-03

In [71]:
df.isnull().sum()

ProcedureCategoryName    0
ProcedureName            0
ProcedureCode            0
ServiceDate              0
dtype: int64

In [72]:
df.dtypes

ProcedureCategoryName    string[python]
ProcedureName            string[python]
ProcedureCode            string[python]
ServiceDate              datetime64[ns]
dtype: object

In [76]:
# one-way table
# normalize='columns'
dfs = []
for column in columns_to_convert:
    dfs.append(pd.crosstab(index=df[column], columns="Count"))

In [78]:
# style.pipe(make_pretty)
dfs[0].rename_axis(columns=None)

                          Count
ProcedureCategoryName
ANESTHESIA               468651
COSMETIC                    391
CU MEDICINE ADMIN          2722
DRUGS PHARMACY             3898
EM CONSULTS IP            19780
EM CONSULTS OP            29484
EM CRITICAL CARE SVCS    207231
EM OBSERV CARE SUBSEQ     10881
EM OFF OP VSTS EST       861220
EM OFF OP VSTS NEW       264714
EM OTHER SVCS              7393
EM VSTS IP INITIAL       171346
EM VSTS IP SUBSEQ        832814
EVAL AND MGMT            341269
LABORATORY               321493
MEDICAL                      49
MEDICINE                 910129
OTHER MED SVCS                3
PQRS                      27920
PRE AND POST OP VISITS   486553
PSYCHIATRY PSYCHOLOGY      7245
RADIOLOGY               1530708
RESEARCH                     84
SUPPLIES                   9538
SURGERY                 1096128

In [50]:
dfs[1]

col_0                                               Count
ProcedureName
12lead electrocardiogram ecg performed                  4
1MM SHOULDER SLING SWATHE LG                            3
1ST HOSP IP/OBS HIGH 75                             84070
1ST HOSP IP/OBS MODERATE 55                         53822
1ST HOSP IP/OBS SF/LOW 40                           33454
...                                                   ...
XCAPSL CTRC RMVL INSJ IO LENS PROSTH W/O ECP        20443
XCAPSL CTRC RMVL INSJ IO LENS PRSTH CPLX INSJ 1+        2
XEOMIN COSMETIC PER UNIT                                1
ZOSTER SHINGLES VACCINE HZV RECOMBINANT SUB UNI...    124
ZOSTER VACC, SC                                         4

[7874 rows x 1 columns]

In [51]:
dfs[2]

col_0          Count
ProcedureCode
00033              6
00034              9
00035             43
00036             19
00091             71
...              ...
S8451              1
S9982              1
S9986             10
T5999              9
Z0760              6

[7874 rows x 1 columns]

In [52]:
# two way 
pd.crosstab(index=df["ProcedureName"], columns=df["ProcedureCode"], margins=True)

ProcedureCode,00033,00034,00035,00036,00091,00093,00096,00098,00100,00102,...,S4028,S4035,S4037,S8032,S8451,S9982,S9986,T5999,Z0760,All
ProcedureName,,,,,,,,,,,,,,,,,,,,,
12lead electrocardiogram ecg performed,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,4
1MM SHOULDER SLING SWATHE LG,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,3
1ST HOSP IP/OBS HIGH 75,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,84070
1ST HOSP IP/OBS MODERATE 55,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,53822
1ST HOSP IP/OBS SF/LOW 40,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,33454
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
XCAPSL CTRC RMVL INSJ IO LENS PRSTH CPLX INSJ 1+,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2
XEOMIN COSMETIC PER UNIT,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
ZOSTER SHINGLES VACCINE HZV RECOMBINANT SUB UNIT INTRAMUSC INJ,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,124
"ZOSTER VACC, SC",0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,4
All,6,9,43,19,71,1,208,1,393,15,...,37,1,141,13,1,1,10,9,6,7611644